<h1>Hello there, {{user}}</h1>

<p>See <a href="/books">all books</a></p>

<p>Or, type in the search parameters in the url</p>


<form action="/favorite_book" method="POST">
    <p>favorite book</p>
    {% for title in titles %}
    <p>
        <input type="radio" name="title" value="{{title}}"/>{{title}}
    </p>
    {% endfor %}
    <input type="submit" value="Submit"/>
</form>

<form action="/login" method="post">
    <div>
        <label>Username:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Password:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Log In"/>
    </div>
</form>

